<h1>Tag index</h1>

<table>
  <tr>
    <th>タグ名</th>
    <th>カテゴリ</th>
  </tr>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= tag.tag_category.name %></td>
    </tr>
  <% end %>
</table>
