<h1>TagCategory show</h1>

<ul>
  <li><%= @tag_category.name %>
    <table>
      <tr>
        <td><%= link_to 'Back', tag_categories_path  %></td>
        <td><%= link_to 'Edit', edit_tag_category_path  %></td>
      </tr>
    </table>
  </li>
</ul>
