<h1>TagCategory show</h1>

<table>
  <tr>
    <th>カテゴリ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @tag_category.name %></td>
    <td><%= link_to 'Back', tag_categories_path  %></td>
    <td><%= link_to 'Edit', edit_tag_category_path  %></td>
    <td><%= link_to 'Destroy', tag_category_path, data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
</table>
